body {
    font-family: "Century Gothic";
    text-align: center;
}

input {
    font-family: "Century Gothic";
}

.required {
    color: red;
}

table {
    margin-left: auto;
    margin-right: auto;
}